<mat-card>
        <mat-card-title>
          Roles
        </mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content>
          <ng-template tdLoading="roles.list" layout="row" layout-align="center center">
            <td-data-table #rolesTable [data]="filteredRoles" [(ngModel)]="selectedRoles" [columns]="rolesTableConfig.columns" [sortable]="true"
              [sortBy]="rolesTableConfig.sortBy" [sortOrder]="rolesTableConfig.sortOrder" (sortChange)="sortRoles($event)" [selectable]="true"
              (rowSelect)="roleRowSelect($event)" (selectAll)="roleRowSelectAll($event)">
            </td-data-table>
            <div class="mat-padding" *ngIf="!rolesTable.hasData" layout="row" layout-align="center center">
              <h3>No results to display.</h3>
            </div>
          </ng-template>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions end>
          <div align="end">
            <button mat-button class="text-caps" (click)="resetUserRoles()" *ngIf="!disabled">RESET</button>
            <button mat-button class="text-caps" (click)="saveRoles()" [disabled]="disabled || (rolesToAdd.length === 0 && userRolesToRemove.length === 0)">SAVE</button>
          </div>
        </mat-card-actions>
      </mat-card>