<h2 mat-dialog-title>Create User</h2>
<mat-divider></mat-divider>
<div mat-dialog-content>
  <ng-template tdLoading="add.user" layout="row" layout-align="center center">
    <form layout="column" class="pad" [formGroup]="createUserForm" novalidate>
      <mat-input-container>
        <input matInput placeholder="Username (e.g. SUPERGRP\Joe.Bloggs)" formControlName="username" />
      </mat-input-container>
      <mat-input-container>
        <input matInput placeholder="First Name" formControlName="firstName" />
      </mat-input-container>
      <mat-input-container>
        <input matInput placeholder="Last Name" formControlName="lastName" />
      </mat-input-container>
      <mat-input-container>
        <input matInput placeholder="Email Address" formControlName="email" />
      </mat-input-container>
       <mat-input-container>
          <input matInput placeholder="Job Title" formControlName="jobTitle" />
        </mat-input-container>
    </form>
  </ng-template>
</div>
<div mat-dialog-actions>
  <button mat-button [disabled]="(_usersStore.isBusy | async)" (click)="close()" align="end">CANCEL</button>
  <button mat-button [disabled]="createUserForm.invalid || (_usersStore.isBusy | async)" (click)="saveUserDetails()" align="end" color="accent">SAVE</button>
</div>
