.title-text {
    margin-left: 8px;
    font-family: "Raleway", "Roboto", "Helvetica Neue", "sans-serif";
}

.logo-text {
    font-family: 'Raleway', sans-serif;
    font-size: 32px
}

.logo-img {
    margin-right: 18px;
    opacity: 0.9;
    height: 36px;
}

.pointer {
    cursor: pointer;
}
