

.floatingAddButton{
    top: auto;
    right: 50px;
    left: auto;
    bottom: 50px;
    position: fixed;
}
.leftRightPadding{
    padding-left: 15px;
    padding-right: 15px;
}

.customPadding {
    padding-bottom:8px;
    padding-top:8px;
}
.mat-list-item {
    height: auto;
    min-height: 48px;
  }