<!-- <ng-template tdLoading="category.list" layout="row" layout-align="center center">
  <div class="flex-container" fxLayout="row" fxLayoutAlign="stretch stretch" style="padding-bottom:60px;" layout-wrap>
    <div flex-gt-xs="50" flex-gt-md="25" flex="100" *ngFor="let item of items" style="cursor: pointer;" (click)="detailClick(item)">
      <mat-card>
        <mat-card-title style="background-color: black; color:white">
          <div style="text-align: center">{{item.categoryName}}</div>
        </mat-card-title>
        <mat-card-content style="margin-bottom:0px;" flex fxLayout="row">
          <div>
            <i class="material-icons" *ngIf="item.isFavourite" style="color:Red; padding-bottom: 10px; font-size: 40px;">star rate</i>
            <i class="material-icons" *ngIf="!item.isFavourite" style="color:lightgray; padding-bottom: 10px; font-size: 40px;">star rate</i>
          </div>
          <div style="padding-top:8px; padding-left:20px; font-size: 20px;">
            <app-currency-formatter style="text-align: right" [numberToFormat]='item.budget'></app-currency-formatter>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</ng-template>
<a mat-fab routerLink="/category-add-modify/0" color="primary" style="top:auto; right:15px; left:auto; bottom:50px; position:fixed;">
  <mat-icon>add</mat-icon>
</a> -->

<div class="flex-container" fxLayout="row" fxLayoutAlign="center center" style="padding-bottom:60px;">
  <div flex-gt-md="50" flex="100">

    <mat-card>
      <mat-card-content style="margin-bottom:0px;" fxLayout="column" flex>

        <mat-list>
          
          <mat-list-item class='listHeading'>
            <div flex="20" class="customPadding" style="min-width:80px;">
                Favourite
            </div>

            <div flex  class="customPadding listHeading">
              <div style="text-align: left">Category</div>
            </div>


            <div flex="40" style="padding-top:8px; text-align: right"  class="customPadding listHeading">
              Budget
            </div>
            <mat-divider></mat-divider>

          </mat-list-item>

          <mat-list-item *ngIf="items?.length === 0" style="height: auto">
            <div flex  >
              <br/>
              <div flex layout="column" layout-align="center center" class="tc-grey-500 mat-typography pad-lg">
                <mat-icon flex  matListAvatar class="text-super push-bottom">device_hub</mat-icon>
                <h2>No data</h2>
                <h3>There are no categories</h3>
              </div>
            </div>
          </mat-list-item>

          <mat-list-item *ngFor="let item of items" (click)="detailClick(item)" class='hand'>
            <div flex="20" class="customPadding">
              <i class="material-icons" *ngIf="item.isFavourite" style="color:Red; padding-bottom: 10px; font-size: 40px;">star rate</i>
              <i class="material-icons" *ngIf="!item.isFavourite" style="color:lightgray; padding-bottom: 10px; font-size: 40px;">star rate</i>
            </div>

            <div flex  class="customPadding">
              <div style="text-align: left">{{item.categoryName}}</div>
            </div>


            <div flex="40" style="padding-top:8px;"  class="customPadding">
              <app-currency-formatter style="text-align: right" [numberToFormat]='item.budget'></app-currency-formatter>
            </div>
            <mat-divider></mat-divider>

          </mat-list-item>
        </mat-list>

      </mat-card-content>
     
    </mat-card>
  </div>
</div>




<a mat-fab routerLink="/category-add-modify/0" color="primary" style="top:auto; right:15px; left:auto; bottom:50px; position:fixed;">
  <mat-icon>add</mat-icon>
</a>