::ng-deep .mat-accent .mat-slider-thumb {
    background-color: #B81F24;
} 
::ng-deep .mat-accent .mat-slider-thumb-label {
    background-color: rgba(184, 31, 36, 0.329);
} 
::ng-deep .mat-accent .mat-slider-track-fill {
    background-color: rgba(184, 31, 36, 0.329);
} 