<div layout-gt-sm="row" tdMediaToggle="gt-xs" [mediaClasses]="['push-sm']">
    <div fxFlex-gt-sm="60">
        <mat-card>
            <mat-card-title>My Profile</mat-card-title>
            <mat-card-subtitle>Stuff go's here...</mat-card-subtitle>
            <mat-divider></mat-divider>
            <mat-radio-group class="theme-switcher-radio-group" [(ngModel)]="selectedThemeClass">
                <mat-radio-button (change)="_appStore.setThemeClass(theme.className)" (selected)="true" class="theme-switcher-radio-button"
                    *ngFor="let theme of themes" [value]="theme.className">
                    {{theme.name}}
                </mat-radio-button>
            </mat-radio-group>
        </mat-card>
    </div>
</div>
