<div fxLayout="column" layout-fill class="pattern-bg">
    <div class="mat-content" layout-padding fxFlex="100">
        <div>
            <div fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="center start" class="margin">
                <span class="logo-text">{{appTitle}}</span>
            </div>
        </div>
        <div fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="center start" class="margin">
            <div fxFlex.gt-xs="50">
                <ng-template tdLoading="forgot-password">
                    <mat-card tdMediaToggle="gt-xs" [mediaClasses]="['push-top-lg']">
                        <mat-card-title>
                            <mat-icon class="mat-icon-logo login-title-icon">lock_open</mat-icon>
                            <span class="title-text">Forgot Password</span>
                        </mat-card-title>
                        <mat-card-subtitle>Please provide your username to request a password reset email</mat-card-subtitle>
                        <mat-divider></mat-divider>
                        <mat-card-content>
                            <form #forgotPasswordForm="ngForm" (ngSubmit)="submit()">

                                <div fxLayout="row">
                                    <mat-input-container fxFlex="100" class="input-lg">
                                        <input matInput #userControl="ngModel" placeholder="Username" type="text" name="username" [(ngModel)]="username" required>
                                        <span matPrefix><mat-icon>person</mat-icon></span>
                                        <mat-hint align="start">
                                            <span [hidden]="!userControl.errors?.required || userControl.pristine" class="tc-red-600">Required</span>
                                        </mat-hint>
                                    </mat-input-container>
                                </div>
                                <button type="submit" hidden [disabled]="!forgotPasswordForm.form.valid"></button>
                            </form>
                        </mat-card-content>
                        <mat-divider></mat-divider>
                        <mat-card-actions>
                            <div fxLayout="row">
                                <div fxFlex="100">
                                    <button mat-button [disabled]="loading" (click)="back()">BACK</button>
                                </div>
                                <div fxFlex="100" fxLayoutAlign="end">
                                    <button mat-raised-button color="accent" [disabled]="!forgotPasswordForm.form.valid || loading" (click)="submit()">RESET PASSWORD</button>
                                </div>
                            </div>
                        </mat-card-actions>
                    </mat-card>
                </ng-template>
            </div>
        </div>
    </div>
</div>
