<div fxLayout="row">
    <div fxFlex></div>
    <div fxFlex.gt-sm="40" fxFlex.sm="80" fxFlex.xs="80"  fxLayoutAlign="center center">
        <mat-card class="example-card">
            <!-- <mat-card-header>
                <mat-card-title>Home Budget</mat-card-title>
            </mat-card-header> -->
            <img mat-card-image src="assets/images/HomeBudget.png" alt="Home Budget">
            <!-- <mat-card-content>
               
            </mat-card-content> -->
            <mat-divider></mat-divider>
            <p style="text-align: center; padding-bottom: 15px;">Your finance at you fingertips</p>
                <!-- <button mat-button>WINTER IS COMING</button> -->
            
        </mat-card>
    </div>
    <div fxFlex></div>
</div>
