.homeButtonStyle {
    border-radius: 20px;
    overflow: hidden;
    height: 80px;
    width: 100%;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    color: white;
    background-color: #B81F24;
    // box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.4), 0 3px 1px -2px rgba(0, 0, 0, 0.4), 0 1px 5px 0 rgba(0, 0, 0, 0.4);
    // transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 0 2px;
    
    -webkit-box-shadow: 6px 6px 10px 4px #000;;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    6px 6px 10px 4px #000;;  /* Firefox 3.5 - 3.6 */
    box-shadow:         6px 6px 10px 4px #000;;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.btnHover:hover {
    background-color: #db272d;
 }


 .opacityBg {
    background: rgba(255, 255, 255, 0.1);
 }

