<div class="flex-container" fxLayout="row" fxLayoutAlign="center center" style="padding-bottom:60px;">
  <div flex-gt-md="50" flex="100">


    <mat-card>
      <mat-card-content style="padding-top:0px;">
        <mat-list>
          <mat-list-item>
            <div flex fxFlexAlign="center" class="customPadding">
                <mat-chip-list class="mat-chip-list">
              <mat-chip >{{formData.year}}</mat-chip><mat-chip >{{formData.month}}</mat-chip>
              </mat-chip-list>
            </div>
            <div flex fxFlexAlign="end" class="customPadding">
              <button mat-raised-button *ngIf="incomeLeft >= 0" style="background-color: green; color:white;">
                <app-currency-formatter [numberToFormat]='incomeLeft' (click)="forecastClick()"></app-currency-formatter>
              </button>
              <button mat-raised-button *ngIf="incomeLeft < 0" style="background-color: red; color:white;">
                <app-currency-formatter [numberToFormat]='incomeLeft' (click)="forecastClick()"></app-currency-formatter>
              </button>


            </div>
            <mat-divider></mat-divider>

          </mat-list-item>
          <mat-list-item>
            <div flex fxFlexAlign="center" class="customPadding">
              Transfer Expense
            </div>
            <div flex fxFlexAlign="end" class="customPadding">
              <mat-checkbox color="primary" style="margin-right: 4px;" [(ngModel)]="isTransferExpense" (click)="isTransferClick(isTransferExpense)"></mat-checkbox>

            </div>

          </mat-list-item>
        </mat-list>


      </mat-card-content>
    </mat-card>



    <mat-card>
      <mat-card-title>
        {{getCategoryPlaceholder()}}
      </mat-card-title>
      <mat-card-content style="padding-top: 0px; padding-bottom:0px;">

        <mat-list>

          <mat-list-item>
            <mat-select placeholder="Category" [(ngModel)]='formData.categoryGuidId' style="padding-bottom: 15px;">
              <mat-option *ngFor="let category of categories" [value]="category.guidId">{{category.categoryName}}</mat-option>
            </mat-select>
            <mat-divider></mat-divider>
          </mat-list-item>

          <mat-list-item>
            <app-track-budget [categoryGuidId]='formData.categoryGuidId'></app-track-budget>
          </mat-list-item>

        </mat-list>

      </mat-card-content>
    </mat-card>


    <mat-card *ngIf="isTransferExpense">
      <mat-card-title>
        Transfer to
      </mat-card-title>
      <mat-card-content style="padding-top: 0px; padding-bottom:0px;">

        <mat-list>

          <mat-list-item>
            <mat-select placeholder="Category" [(ngModel)]='transferToGuidId' style="padding-bottom: 15px;">
              <mat-option *ngFor="let category of categories" [value]="category.guidId">{{category.categoryName}}</mat-option>
            </mat-select>
            <mat-divider></mat-divider>
          </mat-list-item>

          <mat-list-item>
            <app-track-budget [categoryGuidId]='transferToGuidId'></app-track-budget>

          </mat-list-item>
        </mat-list>

      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-title>
        Expense Value
      </mat-card-title>
      <mat-card-content style="padding-top: 0px; padding-bottom:0px;">
        <mat-list>

          <mat-list-item>
            <mat-form-field style="width: 100%">
              <input matInput type="number" placeholder="Expense" [(ngModel)]="formData.expenseValue" maxlength="50">
            </mat-form-field>
          </mat-list-item>


          <mat-list-item>
            <div flex fxFlexAlign="center" class="customPadding">
              Negative Number
            </div>
            <div flex fxFlexAlign="end" class="customPadding">

              <mat-checkbox [disabled]="canExpenseBeNegative() === false" color="primary" style="margin-right: 4px;" [(ngModel)]="isNegativeExpense"
                (click)="isNegativeExpenseClicked(isNegativeExpense)"></mat-checkbox>

            </div>
            <mat-divider></mat-divider>

          </mat-list-item>

          <mat-list-item>
            <mat-form-field style="width: 100%;">
              <textarea matInput placeholder="Comment" [(ngModel)]='formData.comment'></textarea>
            </mat-form-field>
          </mat-list-item>

        </mat-list>
      </mat-card-content>

      <mat-card-actions class="text-right" hide-xs hide-sm hide-md>
        <button color="primary" [disabled]='disableSaveButton()' (click)="saveClick()" mat-raised-button>Save</button>
      </mat-card-actions>

    </mat-card>

  </div>
</div>

<div hide-gt-md>
  <div class="footer" fxLayoutAlign="end" *ngIf="!disableSaveButton()">
    <button color="primary" style="margin:5px 10px 5px 5px;" [disabled]='disableSaveButton()' (click)="saveClick()" mat-raised-button>Save</button>
  </div>
</div>