.mat-list-item {
    height: auto;
    min-height: 48px;
  }
.customPadding {
    padding-bottom:13px;
    padding-top:13px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: whitesmoke;
    min-height: 40px;
    
}