.mat-list-item {
    height: auto;
    min-height: 48px;
  }
.customPadding {
    padding-bottom:13px;
    padding-top:13px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #252a2f;
    min-height: 40px;
    border-radius: 10px;
    
}

mat-chip {
    max-width: 100px;
    background-color: #B81F24 !important;
    color:white !important;
    padding: 8px !important;
  }